DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=homestay_user
DB_PASSWORD=homestay_password
DB_NAME=homestay_db
PORT=3000

# PayPal Config
PAYPAL_CLIENT_ID=your_paypal_client_id_here
PAYPAL_SECRET=your_paypal_secret_here
PAYPAL_API_BASE=https://api-m.sandbox.paypal.com
#mail
EMAIL_USER=abc@gmail.com
EMAIL_PASS=bdgrthrhtjh
