# Cấu hình API Backend
VITE_API_URL=http://localhost:3000

# Cấu hình PayPal Client ID (Lấy từ https://developer.paypal.com/)
VITE_PAYPAL_CLIENT_ID=test

# Cấu hình Client ID / Public Key cho các cổng thanh toán khác (nếu cần ở Frontend)
VITE_MOMO_PARTNER_CODE=
VITE_ZALOPAY_APP_ID=
